In [2]:
# Create a set, will not allow for dupes
s = set()

In [7]:
s.add(2)

In [5]:
s.clear()

In [8]:
new_copy = s.copy()

In [12]:
# Return the difference of two sets
s.difference(new_copy)

set()

In [13]:
s.add(3)

In [15]:
# Discards the element given
s.discard(33)

In [16]:
s1 = {1,2,3}
s2 = {32,2,3}

In [17]:
# Return the values that are in common
s1.intersection(s2)

{2, 3}

In [18]:
s1.intersection_update(s2)

In [19]:
s1

{2, 3}

In [30]:
s1 = {1,2}
s2 = {2,4,1}
s3 = {3}

In [27]:
# Return boolean if the first sets is not in the other set
s1.isdisjoint(s3)

True

In [28]:
s1.issubset(s2)

False

In [31]:
s2.issuperset(s1)

True

In [32]:
# Returns the difference of both sets
s1.symmetric_difference(s2)

{4}

In [33]:
# Return all elements in both sets
s1.union(s2)

{1, 2, 4}